*{
    margin: 0;
    padding: 0;
    font-family: "General Sans";
    box-sizing: border-box;
    /* Remove color at the end */
    color: white;
}
html, body{
    width: 100%;
    height: 100%;
    background-color: black;
}
#miniCircle{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .4s; 
    position: absolute;
    z-index: 99999;
    background-color: white;
}
#main{
    position: relative;
    width: 100%;
    height: 100vh;
    /* background-color: black; */
}
#nav{
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}
#nav a,h4{
    color: white;
    text-decoration: none;
    font-size: large;
}
#heading{
    margin: 48px;
}
.bounding{
    width: fit-content;
    overflow: hidden;
    display: flex;
    .boundingElem{
        transform: translateY(100%);
    }
}
#designer_section{
    margin-left: 11%;
    width: fit-content;
    line-height: 2.6;
    display: flex;
    flex-direction: column;
    align-items: end;
}
#product, #designer{
    line-height: 0.9;
    font-size: 10vw;
    color: #a3a3a3;
    font-weight: 550;
    /* opacity: 1; */
}
#designer{
    text-align: center;
}
#based{
    /* text-align: right; */
    font-size: 1vw;
}
#availability{
    text-align: right;
    text-transform: uppercase;
    padding: 40px;
    padding-top: 120px;
    font-size: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
}
p{
    font-weight: 900;
}
#heroFooter{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 16px;
    width: 100%;
    padding: 20px 40px ;
    position: absolute;
    bottom: 3%;
}
a{
    text-decoration: none;
}
#upDown{
    display: flex;
    gap: .2rem;
}
.circle :first-child{
    color: black;
    background-color: #a3a3a3;
    border-radius: 20px;
    padding: 5px;
}
#second{
    background-color: black;
    width: 100%;
    padding-top: 400px;
    padding-right: 10vw;
    padding-left: 2vw;
}
.elem{
    width: 100%;
    border-top: 1px solid #a3a3a3;
    font-size: 3vw;
    padding: 20px;
    padding: 2vw 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    position: relative;
}
.elem h1{
    color: #a3a3a3;
}
.elem h5{
    font-size: 15px;
}
.eleLast{
    border-bottom: 1px solid #a3a3a3;
}
.workImg{
    display: none;
    position: absolute;
    height: 350px;
    z-index: 999;
}
.about{
    width: 90%;
    padding: 350px;
    display: flex;
    background-color: black;
    justify-content: center;
    width: 100%;
    padding-right: 10vw;
    padding-left: 2vw;
    gap: 5rem;
}
.aboutImg{
    padding-top: 50px;
}
.aboutImg img{
    width: 300px;
    height: 300px;
    border-radius: 200px;
}
.aboutDesc{
    width: 400px;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    text-align: left;
    padding-top: 40px;
    left: 0;
    line-height: 1.5;
}
.aboutDesc :first-child{
    color: #a3a3a3;
}
.aboutDesc button{
    width: 60px;
    background-color: black;
    border: 1px solid white;
    text-align: center;
    width: 80px;
    height: 40px;
    border-radius: 10px;
}
#desc{
    padding: 10px 0px;
}
#aboutFooter{
    text-transform: uppercase;
    font-size: 15px;
    width: 100%;
    padding: 20px 40px ;
    background-color: black;
    bottom: 3%;
}
#aboutFooter p{
    color: #a3a3a3;
}
#footer{
    margin-top: 100px;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.footerBox{
    width: fit-content;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    font-size: 18px;
    text-transform: uppercase;
}
.left{
    font-size: 15px;
}
